@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

:root {
  --bg-color: #3af;
  font: 16px 'Open Sans', sans-serif;
  height: 100%;
}

body {
  text-align: center;
  height: 100%;
  margin: 0;
}

body {
  background-size: 200vw 200vh;
  background-color: #3af;
  background-color: var(--bg-color);
  background-image: radial-gradient(transparent, rgba(0,0,0,0.9));
  background-blend-mode: multiply;
  background-position: -50vw -85vh;
}

[type=checkbox], [type=radio] {
    margin: 5px;
}

.container {
  height: calc(100vh - 36px);
  margin: 0;
}

h2 {
  margin: 0 0 1rem;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #666;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: calc(100% - 2rem);
  text-align: center;
}

.display > * + * {
  margin-top: 1rem;
}

.dialog {
  border-radius: 3px;
  max-width: calc(100vw - 6rem);
  padding: 2rem;
  background: #fff;
  width: 30rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form > * + * {
  margin-top: 1.5rem;
}


.wrapper {
  padding: 60px 0;
}

.wrapper-inner {
  padding: 0 5vw;
  max-width: 1280px;
  margin: 0 auto;
}

.button {
  font-size: 1rem;
  background: #eee;
  background: none;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 8px 32px;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
}

.button:hover, .button:focus {
  outline: none;
  border-color: black;
  box-shadow: 0 0 12px -4px black;
}

.button:active {
  background: #f8f8f8;
}

.answer-list {
  display: inline-block;
  list-style: none;
  padding-left: 0;
}

.answer-label {
  border-radius: 32px;
  display: inline-block;
  padding: 8px;
  width: 100%;
  transition-duration: 0.5s;
}

.answer-label:hover {
  background: #f4f4f4;
}

.answer-label:active {
  background: #eee;
  transition-duration: 0.1s;
}

.answer-wrapper {
  margin: 5px auto;
  text-align: left;
}

.incorrect-answer {
  background: #fdd;
}

.incorrect-answer:hover {
  background: #fcc;
}

.correct-answer {
  background: #dfd;
}


.correct-answer:hover {
  background: #cfc;
}

.correct-answer:active {
  background: #efe;
}

.error-box {
  border: 1px solid #fcc;
  background: white;
}

.search-box {
  border: 1px solid #aaa;
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
}

.counter {
  margin: 5px auto;
}

.login-form {
  background: #369;
  border-radius: 10px;
  padding: 10px;
}

.login-tab {
  color: #369;
  border-radius: 0 0 100px 100px;
  padding: 5px 20px;
  border: 1px solid #369;
  text-decoration: none;
  background: #fff;
}

/*.active-tab {
  background: #fff;
  color: white;  
}*/

.label {
  width: 100%;
  height: 2.3rem;
  max-width: 20em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.input {
    flex-grow: 1;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 300;
    display: block;
    margin: 0;
    border: none;
    padding: 0.5em 0;
    line-height: 1;
    border-bottom: 2px solid hsl(0, 0%, 75%);
    /*border-radius: 5px;
    border: 2px solid #aaa;
    margin: 5px;*/
}

.input:focus {
  outline: none;
  border-color: hsl(0, 0%, 25%);
}

input.mismatch, input:invalid {
  border-color: hsl(0, 100%, 40%);
  /*background: #fcc;*/
}

.icon {
  width: 1rem;
  opacity: 0;
  order: -1;
  transition: all 0.2s;
  transform: translateX(-100%);
}

.icon path {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.input:focus + .icon {
  transform: translateX(0);
  opacity: 1;
}

span.input-error {
  content: 'Passwords do not match!';
  color: red;
  padding: 5px;
  background: black;
}

.hidden {
  display: none;
  opacity: 0;
}