@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

[type=checkbox], [type=radio] {
    margin: 5px;
}

.wrapper {
  padding: 60px 0;
}

.wrapper-inner {
  padding: 0 5vw;
  max-width: 1280px;
  margin: 0 auto;
}

.button {
  background: #eee;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 8px 32px;
}

.button:hover {
  background: #f0f0f0;
}

.button:active {
  background: #f8f8f8;
}

.answer-list {
  display: inline-block;
  list-style: none;
  padding-left: 0;
}

.answer-label {
  border-radius: 32px;
  display: inline-block;
  padding: 8px;
  width: 100%;
  transition-duration: 0.5s;
}

.answer-label:hover {
  background: #f4f4f4;
}

.answer-label:active {
  background: #eee;
  transition-duration: 0.1s;
}

.answer-wrapper {
  margin: 5px auto;
  text-align: left;
}

.incorrect-answer {
  background: #fdd;
}

.correct-answer {
  background: #dfd;
}

.correct-answer:hover {
  background: #cfc;
}

.correct-answer:active {
  background: #efe;
}

.error-box {
  border: 1px solid #fcc;
}

.search-box {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.counter {
  margin: 5px auto;
}

.login-form {
  background: #369;
  border-radius: 10px;
  padding: 10px;
}

.login-tab {
  background: #369;
  color: white;
  border-radius: 0 0 100px 100px;
  padding: 5px 20px;
  border: 1px solid #369;
}

.input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
    margin: 5px;
}