@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

body {
  /*margin: 0;
  padding: 0;*/
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

[type=checkbox], [type=radio] {
    margin: 5px;
}

.wrapper {
  padding: 60px 0;
}

.wrapper-inner {
  padding: 0 5vw;
  max-width: 1280px;
  margin: 0 auto;
}

.button {
  background: #f4f4f4;
  border: 1px outset #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
}

.button:active {
  background: #fff;
  border-style: inset;
}

.answer-list {
  display: inline-block;
  list-style: none;
  padding-left: 0;
}

.answer-label {
  border-radius: 50px;
  display: inline-block;
  padding: 15px;
  width: 100%;
  transition-duration: 0.5s;
}

.answer-label:hover {
  background: #f4f4f4;
}

.answer-wrapper {
  margin: 5px auto;
  text-align: left;
}

.incorrect-answer {
  background: #fdd;
}

.correct-answer {
  background: #dfd;
}

.correct-answer:hover {
  background: #cfc;
}

.errorBox {
  border: 1px solid #fcc;
  border-radius: 3px;
}

.counter {
  margin: 5px auto;
}